
@import url("styles/header.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
}
body{
    background-color: var(--cor-de-fundo);
}

h1{
    background-color: #68eee9;
}

a{
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

a:hover{
    color: #68eee9;
    text-decoration: underline;
}

.cabeçalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align: -1em;
}

.lista-menu {
    display: none;
    position: absolute;
}

.container_botao:checked~.lista-menu {
    display: block;

} 

.lista-menu_titulo, 
.lista-menu_item{
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu_titulo{
    dolor: var(--laranja);
}

body {
    background-color: var(--cor-de-fundo);
}

.lista-menu_link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}