@import url(style.css);

:root{
    --cor-de-fundo: #000000;
    --branco: #FFFFFF;
}

body{
    background-color: var(--cor-de-fundo);
}

h1{
    background-color: #68eee9;
}

a{
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

a:hover{
    color: #68eee9;
    text-decoration: underline;
}

.cabeçalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align: -1em;
}

.lista-menu {
    display: none;
    position: absolute;
}

.container_botao:checked~.lista-menu {
    display: block;

} 

.lista-menu_titulo, .lista-menu_item{
    padding: 1em;
    background-color: var(--branco);
}